.nav {
    background-color: #fff;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
}

.logo {
    width: 140px;
}

.menu,
.close {
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
}

.close {
    width: 30px;
    height: 30px;
}

.nav .container .links {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 64px;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    z-index: 2;
}

.nav .container .links li:first-of-type {
    margin-top: 50px;
}

.nav .container .links li {
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 30px 13px;
    cursor: pointer;
}

.nav .container .links li:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}

/* NAV AUTHENTICATED */
.userButton {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.userButton .circle {
    width: 35px;
    min-height: 35px;
    border-radius: 50%;
    background: #EC407A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.userButton img {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    transform: rotate(-90deg);
}

.linksLogged {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    width: 250px;
    padding: 25px 35px 20px 35px;
    border: 0.5px solid #E4E4E4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: default;
    transition: opacity 0.2s ease-in;
    z-index: 100;
}

.linksLogged ul {
    width: 100%;
}

.linksLogged li {
    margin-bottom: 20px;
    cursor: pointer;
}

.linksLogged .dot {
    position: relative;
    display: flex;
    align-items: center;
}

.linksLogged .dot::after {
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #3A86FF;
    border-radius: 50%;
    position: absolute;
    left: 58px;
    bottom: 10px;
}

.linksLogged li:hover {
    text-decoration: underline;
}

.linksLogged .navFooter {
    border-top: 1px solid #E4E4E4;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.linksLogged button {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #FFD700;
    width: 100%;
    padding: 8px 0;
    border-radius: 20px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* Styling for medium devices */
@media only screen and (min-width: 800px) {
    .nav .container {
        max-width: 900px;
    }

    .nav .container .links {
        width: 400px;
    }
}

/* Styling for large devices */
@media only screen and (min-width: 1000px) {}