.deck {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    min-height: 180px;
}

.deck span {
    font-size: 14px;
    color: #999999;
}

.top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.top h3 {
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
}

.progress {
    display: flex;
    align-items: center;
}

.bar {
    background-color: blue;
    width: 100%;
    height: 15px;
    background: #EDEDED;
    border-radius: 5px;
    margin-top: 10px;
}

.bar div {
    height: 15px;
    background-color: #3A86FF;
    border-radius: 5px 1px 1px 5px;
}

.tickImg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.deckOverview {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.noCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.addBtn {
    width: 150px;
    height: 33px;
    background: #7D93A4;
    border-radius: 36px;
    color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addBtn:hover {
    background-color: #8da0ae;
}

.addBtn img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/* Edit menu */
.edit {
    position: relative;
    cursor: pointer;
    margin-left: auto;
}

.edit .dots {
    width: 22px;
    height: 22px;
}

.editMenu {
    position: absolute;
    top: 30px;
    right: 0;
    width: 200px;
    height: 80px;
    background-color: #fdfdfd;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.editMenu button {
    padding: 12px 20px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.editMenu button:hover {
    background-color: #F9F9F9;
}

.editMenu button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Styling for medium devices */
@media only screen and (min-width: 800px) {
    .deck {
        min-height: 200px;
    }

    .data {
        margin-top: 10px;
    }

    .deck h3 {
        font-size: 18px;
    }

    .addBtn {
        width: 150px;
        height: 35px;
    }
}

/* Styling for large devices */
@media only screen and (min-width: 1000px) {}