.container {
    width: 100%;
    height: 100vh;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.buttonsBar {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 250px;
    height: 40px;
    border-radius: 6px;
}

.searchBar input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
}

.searchImg {
    width: 18px;
    height: 18px;
    margin: 10px;
}

.addBtn {
    background-color: #3A86FF;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 15px;
    color: #fff;
}

.addBtn img {
    margin-left: 1px;
}

.addBtn p {
    display: none;
}

.noDecks {
    margin: auto 0;
    margin-top: 150px;
    text-align: center;
}

.noDecks p {
    font-size: 18px;
}

.mainBtn {
    background-color: #3A86FF;
    color: #fff;
    font-weight: 600;
    border-radius: 36px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
}

/* Styling for medium devices */
@media only screen and (min-width: 800px) {
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .addBtn {
        padding: 5px 10px 5px 10px;
    }

    .addBtn img {
        margin-left: 8px;
    }

    .addBtn p {
        display: inline;
        margin-left: 5px;
    }

    .searchBar {
        width: 100%;
        max-width: 500px;
    }
}

/* Styling for large devices */
@media only screen and (min-width: 1000px) {}