.landing {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
}

.landing h1 {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 30px;
    max-width: 550px;
}

.landing h2 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.2em;
    max-width: 550px;
}

.landing h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

.landing h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #898787;
    margin-bottom: 15px;
}

.landing header {
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #D8E7FF;
}

.landing header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 0 20px;
    height: 450px;
    margin: 0 auto;
}

.landing section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 100px 20px;
    margin: 0 auto;
}

.cardsContainer {
    margin-top: 60px;
}

.card {
    margin-bottom: 60px;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 25px;
}

.card img {
    width: 60px;
    height: 60px;
}

.section2 {
    background-repeat: no-repeat;
    background-color: #D8E7FF;
    background-position: bottom;
}

.item {
    margin-bottom: 40px;
}

.section3 {
    padding-top: 100px;
    background-color: #3A86FF;
    margin-top: 100px;
    position: relative;
}

.section3 h2 {
    color: #fff;
    max-width: 420px;
    line-height: 1.4em;
    font-weight: 800;
}

.section3 button {
    background-color: #fff;
    color: #3A86FF;
    margin-top: 20px;
}

.section3 button:hover {
    background-color: #ebebeb;
}

.landing footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.landing {
    position: absolute;
}

.balls {
    position: absolute;
    width: 300px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    transition: top 0.2s;
}


/* Styling for medium devices */
@media only screen and (min-width: 800px) {
    .cardsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        max-width: 40%;
        margin: 35px 35px;
    }

    .landing header {
        height: 550px;
    }

    .itemsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
    }

    .itemsContainer .item {
        max-width: 40%;
        margin: 35px 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .itemsContainer .item p {
        text-align: center;
    }

    .balls {
        width: 450px;
    }
}

/* Styling for large devices */
@media only screen and (min-width: 1000px) {}