/* Reset browser CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  resize: none;
  outline: none;
}

a {
  color: #333;
}

svg {
  display: block;
  margin: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global classes */
*,
html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F6F7FB;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 35px;
  font-weight: 800;
  line-height: 1.2em;
  margin: 8px 0 8px 0;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 6px 0 6px 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  margin: 6px 0 6px 0;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0 5px 0;
}

p {
  line-height: 1.2em;
}

input {
  font-size: 16px;
}

select {
  background-color: transparent;
  border: none;
  color: #8B8C8E;
}

.mainBtn {
  background-color: #3A86FF;
  color: #fff;
  font-weight: 600;
  border-radius: 36px;
  width: 200px;
  height: 60px;
  cursor: pointer;
  z-index: 1;
}

.mainBtn:hover {
  background-color: #4E92FF;
}

strong {
  font-weight: 800;
}